/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); */
/* TODO: Change font */


* {
	box-sizing: border-box;
	/* font-family: 'Ubuntu', sans-serif; */
	font-family: Arial, Helvetica, sans-serif;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #0c0c0c;
}

.navibar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}

.name-title {
	font-size: 1.5rem;
	margin: .5rem;
	padding-left: 100px;
}

.navbar-links {
	padding-right: 100px;
}

.navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a{
	text-decoration: none;
	padding: 1rem;
	display: block;
	font-size: 16px;
	font-weight: 800;
	text-transform: uppercase;
	color: white;
}

.navbar-links li:hover {
	background-color: #707070;
	/* TODO: animate here */
}

.toggle-button {
	position: absolute;
	top: .75rem;
	right : 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

.background {
	background-image: url(https://tedxmahindrauniversity.github.io/assets/images/Modded/Slider-7-blurr.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.blur {
	/* background: rgba(255, 255, 255, 0.2); */
	backdrop-filter: blur(500px);
	height: auto;
	width: 100%;
}

.blur p {
	color: #ffffff;
}

.alt_f4 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	margin-bottom: 180px;
}

.alt_f4_text {
	text-align: justify;
	font-size: x-large;
}

.la_date {
	text-align: center;
	font-size: 40px;
	margin-bottom: 40px;
}

.wrapper {
	/* width: 100%; */
	align-items: center;
	/* min-height: 100vh; */
	background: #000000;
}

.wrapper .carousel {
	max-width: 1200px;
	margin: auto;
	padding: 0 30px;
}

.carousel .card{
	/* background-color: #e62b1e; */
	/* line-height: 250px; */
	color: white;
	font-size: 90px;
	margin: 20px 0;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.owl-dots {
	text-align: center;
	margin-top: 20px;
}

.owl-dot {
	height: 15px;
	width: 15px;
	border-radius: 25px;
	cursor: pointer;
	outline: none;
	border: 2px solid #e62b1e !important;
	margin: 0 10px 10px 0;
}

.owl-dot:hover, .owl-dot.active{
	background: #e62b1e !important;
}

p, h1, h2, h3 {
	color: #ffffff;
}

p {
	text-align: justify;
}

.speaker-div img {
	border-radius: 50%;
	width: 210px;
	height: 210px;
	margin-right: 70px;
}

.speaker-div {
	display: flex;
	padding: 15px;
	margin-bottom: 20px;
}

.speaker_header {
	margin: 20px;
	padding: 10px;
}

.text_white {
	color: #ffffff;
}

footer {
	color: white;
	text-align: center;
	background-color: #181818;
	/* margin-top: 30px; */
	margin-right: 0;
}

footer p {
	padding: 5px;
	margin: 0;
	font-size: large;
	text-align: center;
}

.social ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.social li {
	list-style: none;
}

.social li a {
	text-decoration: none;
	padding: 0.5rem 1rem 0.5rem 1rem;
	display: block;
	color: white;
}

/* For navbar and mobile view*/

@media (max-width: 800px) {
	.toggle-button {
		display: flex;
	}

	.navbar-links {
		display: none;
		width: 100%;
	}

	.navibar {
		flex-direction: column;
		align-items: flex-start;
	}

	.name-title {
		padding-left: 0;
	}
	
	.navbar-links ul {
		width: 100%;
		position: absolute;
		flex-direction: column;
		background-color: #333333;
		z-index: 1;
	}

	.navbar-links li {
		text-align: center;
	}

	.navbar-links li a {
		padding: .5rem 1rem;
	}

	.navbar-links.active {
		display: flex;
	}

	.alt_f4 {
		margin-top: 40px;
		margin-bottom: 40px;
		padding: 20px;
		height: auto;
	}

	.alt_f4_text {
		font-size: medium;
	}

	.speaker-div {
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;
	}

	.speaker-div img {
		margin: 0;
		width: 150px;
		height: 150px;
	}

	.speaker-div h3{
		text-align: center;
	}
}
/*body fonts*/

.sans {
	font-family: "Trebuchet MS", sans-serif;
}

.serif {
	font-family: "Georgia",serif;
}

.mono {
	font-family: "Courier New",sans-serif;
}

.name-title img {
	width: 255px;
	height: 41px;;
}

h2{
	font-family: 'Cuprum', sans-serif !important;
}

h4{
    font-family: 'Sarabun', sans-serif !important;
}