/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); */
/* TODO: Change font */


* {
	box-sizing: border-box;
	/* font-family: 'Ubuntu', sans-serif; */
	font-family: Arial, Helvetica, sans-serif;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.row {
	width: 100%;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
	margin-bottom: 0;
}

.name-title {
	font-size: 1.5rem;
	margin: .5rem;
	padding-left: 20px;
}

.navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a{
	text-decoration: none;
	padding: 1rem;
	display: block;
	font-size: 16px;
	font-weight: 800;
	text-transform: uppercase;
	color: white;
}

.navbar-links li:hover {
	background-color: #707070;
	/* TODO: animate here */
}

.toggle-button {
	position: absolute;
	top: .75rem;
	right : 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

.background {
	background-image: url(https://tedxmahindrauniversity.github.io/assets/images/Modded/Slider-7-blurr.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.blur {
	/* background: rgba(255, 255, 255, 0.2); */
	backdrop-filter: blur(500px);
	height: 100vh;
	width: 100%;
}

.blur p {
	color: #ffffff;
}

.for_carousel {
	display: flex;
}

.wrapper {
	width: 100%;
	align-items: center;
	/* min-height: 100vh; */
	background: #000000;
}

.wrapper .carousel {
	max-width: 1200px;
	margin: auto;
	padding: 0 30px;
}

.carousel .card{
	/* background-color: red; */
	/* line-height: 250px; */
	color: white;
	font-size: 90px;
	margin: 20px 0;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.owl-dots {
	text-align: center;
	margin-top: 40px;
}

.owl-dot {
	height: 15px;
	width: 45px;
	border-radius: 25px;
	cursor: pointer;
	outline: none;
	border: 2px solid red !important;
	margin: 0 10px 10px 0;
}

.owl-dot:hover, .owl-dot.active{
	background: red !important;
}

footer {
	color: white;
	text-align: center;
	background-color: black;
	margin-top: auto;
}

footer p {
	padding: 5px;
	margin: 0;
	font-size: large;
	text-align: center;
}

.social ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.social li {
	list-style: none;
}

.social li a {
	text-decoration: none;
	padding: 0.5rem 1rem 0.5rem 1rem;
	display: block;
	color: white;
}

/* For navbar*/

@media (max-width: 700px) {
	.toggle-button {
		display: flex;
	}

	.navbar-links {
		display: none;
		width: 100%;
	}

	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}
	
	.navbar-links ul {
		width: 100%;
		position: absolute;
		flex-direction: column;
		background-color: #333333;
		z-index: 1;
	}

	.navbar-links li {
		text-align: center;
	}

	.navbar-links li a {
		padding: .5rem 1rem;
	}

	.navbar-links.active {
		display: flex;
	}
}